<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .scrollable-table {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container mt-4">
    <h1 th:text="'Here is your dashboard '+${user.getFirstName()}"></h1>
    <div class="row">
        <div class="col-md-6">
            <h2> Current inventory</h2>
            <div class="scrollable-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Article</th>
                        <th>Manufacturer</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inventory : ${currentInventory}">
                        <td th:text="${inventory.getArticleName()}"></td>
                        <td th:text="${inventory.getManufacturerName()}"></td>
                        <td th:text="${inventory.getTotalUnits()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Vehicle Status</h2>
            <div class="scrollable-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Vehicle plate</th>
                        <th>Registration Date</th>
                        <th>Driver Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicle : ${vehicleStatus}">
                        <td th:text="${vehicle.getPlate()}"></td>
                        <td th:text="${vehicle.getRegistrationDate()}"></td>
                        <td th:text="${vehicle.getDriverName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>New Orders</h2>
            <div class="scrollable-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Order Date</th>
                        <th>Order Sum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${newOrders}">
                        <td th:text="${order.getCustomerName()}"></td>
                        <td th:text="${order.getOrdDate()}"></td>
                        <td th:text="${order.getOrdSum()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Current Deliveries</h2>
            <div class="scrollable-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Delivery Driver</th>
                        <th>Delivery Start Time</th>
                        <th>Delivery Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="delivery : ${currentDeliveries}">
                        <td th:text="${delivery.getDriverName()}"></td>
                        <td th:text="${delivery.getDelStartTime()}"></td>
                        <td th:text="${delivery.getDelStatus()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>