<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/../static/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <div class="container">
        <form class="form-signin mt-xl-5" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading">Sign in</h2>
            <p>
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control"
                       placeholder="Email" required="" autofocus="">
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control"
                       placeholder="Password" required="" autofocus="">
            </p>

            <div th:if="${param.error}" th:text="${param.error}" class="text-danger"></div>

            <div class="row">
                <div class="col-md-3">
                    <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
                <div class="col-md-3">
                    <a href="/register" class="btn btn-lg btn-block btn-light">Register here</a>
                </div>
            </div>
        </form>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>